.cidade { 
  background-color: #4A90E2; 
  color: rgb(4, 240, 248);
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(4, 123, 243, 0.2);
  transition: all 0.3s ease;
} 
.campo {
  background-color: #0de6e2;
  color: #13e0d9;
  font-family: 'Georgia', serif;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(24, 5, 231, 0.2);
  transition: all 0.3s ease;
} 
.ligacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} 
.ponte {
  width: 100px;
  height: 10px;
  background-color: #FFC107; 
  border-radius: 5px;
  position: relative;
} 
.ponte::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid transparent;
  border-left-color: #FFC107;
} 
.ponte:hover {
  background-color: #19d4f0;
}